<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='index_styles.css') }}">
</head>
<body>
    <h1>Welcome to the Spotify Playlist Creator!</h1>
    {% if user_info %}
        <p>Hello, {{ user_info['display_name'] }}! <a class="btn" href="{{ url_for('logout') }}">Logout</a></p>
        <p>Your Spotify ID: {{ user_info['id'] }}</p>
        <br>
        <a class="btn" href="{{ url_for('create_playlist') }}">Create Playlist</a>
        <br>
        <a class="btn" href="{{ url_for('view_playlists') }}">View Playlists</a>
    {% else %}
        <a class="btn" href="{{ url_for('login') }}">Login with Spotify</a>
    {% endif %}
</body>
</html>