<!DOCTYPE html>
<html lang="en">
<!--
    Author: Mackinzie Woodward
    Contributors: Austin Metke, Gabe Myers, Keith Ruxton
-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>

    <header>
        <h1>Welcome to Seekify{% if not user_info %} 👋 {% endif %}!</h1>
    </header>
    {% if user_info %}
    <p class="default-text">Hey, {{ user_info['display_name'] }} 👋!</p>

    <div class="flex-row">
        <a class="btn flex-item" href="{{ url_for('view_playlists') }}">View playlists</a>
        <a class="btn flex-item" href="{{ url_for('top_artists') }}">View Top Artists</a>
        <a class="btn flex-item" href="{{ url_for('top_tracks') }}">View Top Tracks</a>


    </div>

    {% else %}

    <a class="btn" href="{{ url_for('login') }}">
        <img style="width: 52px; height: 77px" src="{{ url_for('static', filename='spotify.png' )}}" />
        <div style="width: 285px; height: 38px; text-align: center; color: white; font-size: 32px; font-weight: 700;">
            Login with Spotify</div>
    </a>

    {% endif %}

    {% if user_info %}
    <a class="btn" id="logout">Logout</a>
    {% endif %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>


<!-- Script to log user out of spotify and redirect to logout page -->
    <script>

        const logoutBtn = () => document.getElementById('logout');

        const logout = () => {
            const url = 'https://accounts.spotify.com/logout';
            const spotifyLogoutWindow = window.open(
                url,
                'Spotify Logout',
                'width=700,height=500,top=40,left=40'
            );

            setTimeout(() => {
                spotifyLogoutWindow.close();
                location.href = "{{url_for('logout')}}";
            }, 1500);
        };

        logoutBtn().addEventListener('click', logout);

    </script>
</body>


</html>