<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>

    <header>
        <h1>Welcome to the Spotify Playlist Creator!</h1>
    </header>
    {% if user_info %}
    <p class="default-text">Hey, {{ user_info['display_name'] }} 👋!</p>

    <div class="flex-row">
        <a class="btn flex-item" href="{{ url_for('playlist_maker') }}">Create a playlist</a>
        <a class="btn flex-item" href="{{ url_for('view_playlists') }}">View playlists</a>
        <a class="btn flex-item" href="{{ url_for('top_artists') }}">View Top Artists</a>
        <a class="btn flex-item" href="{{ url_for('top_tracks') }}">View Top Tracks</a>


    </div>

    {% else %}

    <a class="btn" href="{{ url_for('login') }}">
        <img style="width: 52px; height: 77px" src="{{ url_for('static', filename='spotify.png' )}}" />
        <div style="width: 285px; height: 38px; text-align: center; color: white; font-size: 32px; font-weight: 700;">
            Login with Spotify</div>
    </a>

    {% endif %}

    {% if user_info %}
    <a class="btn" href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
</body>

</html>