<!DOCTYPE html>
<html lang="en">

<!--Author: Austin Metke
    Contributors: Gabe Myers
-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Top Tracks</title>

</head>
<body>
    <!-- Changes the Title at the top of the page depending on time range -->
    {% if time_range == 'short_term' %}
    <h1>Your Top {{limit}} Tracks From The Past Month!</h1>
    {% elif time_range == 'medium_term' %}
    <h1>Your Top {{limit}} Tracks From the Past 6 Months!</h1>
    {% else %}
    <h1>Your Top {{limit}} Tracks From All Time!</h1>
    {% endif %}

    <div class="list" style="overflow-y: auto; overflow-x: auto;">
        {% for track_info in top_tracks %}
        <div class="list-element">
            <div class="list">
                <a href="{{track_info['external_urls']['spotify']}}"
                    class="default-text flex-item list-element">{{loop.index}}.
                    {{track_info['name']}} - {{track_info['artists'][0]['name']}}</a>

                <!-- Figured out the embed url scheme using Spotify's 'share' option -->
                <!-- Note: Unlike the previous view these iframes can't be cached (I've tried) - Austin -->
                <iframe style="border-radius:12px"
                    src="{{track_info['external_urls']['spotify'].replace('open.spotify.com', 'open.spotify.com/embed')}}?utm_source=generator"
                    frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"
                    height="80"></iframe>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Setting target to "_blank allows a blank new page to be opened, which is then redirected to the newly created playlist" -->
    <form action="{{ url_for('create_playlist') }}" method="post" target="_blank">
        <input type="hidden" name="time_range" value="{{ time_range }}">
        <input type="hidden" name="limit" value="{{ limit }}">
        <button type="submit" class="btn btn-primary" ,>Create Playlist</button>
    </form>

    <div class="flex-row">
        <a class="btn flex-item default-text" href="{{ url_for('top_tracks', time_range='short_term', limit=limit) }}">1
            Month</a>
        <a class="btn flex-item default-text"
            href="{{ url_for('top_tracks', time_range='medium_term', limit=limit) }}">6
            Months</a>
        <a class="btn flex-item default-text"
            href="{{ url_for('top_tracks', time_range='long_term', limit=limit) }}">All
            Time</a>
    </div>

    <div class="btn-group" role="group">
        <a type="button" class="btn flex-item" href="{{ url_for('top_tracks', time_range=time_range, limit=10) }}">Top
            10</a>
        <a type="button" class="btn flex-item" href="{{ url_for('top_tracks', time_range=time_range, limit=50) }}">Top
            50</a>
    </div>

    </div>
    <a class="btn " href="{{ url_for('index') }}">Back to Home</a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>

</html>