<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>Document</title>
    
</head>

<header>

    {% if time_range == 'short_term' %}
    <h1>Your Top Artists From The Past Month!</h1>
    {% elif time_range == 'medium_term' %}
    <h1>Your Top Artists From the Past 6 Months!</h1>
    {% else %}
    <h1>Your Top Artists From All Time!</h1>
    {% endif %}
    
</header>

<body>

    <div>
        {% for i, artist in top_artists %}
        <ul>
           <p class="default-text"> {{ i }}. {{ artist }}</p>
        </ul>
        {% endfor %}
    </div>

    <div class="flex-row">
        <a class="btn flex-item default-text" href="{{ url_for('top_artists', time_range='short_term') }}">1 Month</a>
        <a class="btn flex-item default-text" href="{{ url_for('top_artists', time_range='medium_term') }}">6 Months</a>
        <a class="btn flex-item default-text" href="{{ url_for('top_artists', time_range='long_term') }}">All Time</a>
    </div>

    <a class="btn" href="{{ url_for('index') }}">Back to Home</a>

</body>

</html>