<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Playlists</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>

    <br>
    <a class="btn" href="{{ url_for('index') }}">Back to Home</a>


    <h2>Your Playlists</h2>
    <ul>
        {% for playlist in playlists['items'] %}
        <li>
            {{ playlist['name'] }}

        </li>
        {% endfor %}
    </ul>


</body>

</html>